@import "src/app/styles/colores";
.container-fluid {
    padding: 0 10%;
  }

.titular {
    color: $indigo700;
    margin-top: 2%;
}

.noticia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &.importante {
        .titulo {
            color: $alerta;
        }
    }
}

.jumbotron1 {
    justify-content: center;
    color: $indigo50;
    background-color: $indigo500;
    box-shadow: 0 1px 5px 1px rgba(0,0,0,.2), 0 0px 0px 0 rgba(0,0,0,.14), 0 0px 0px 0 rgba(0,0,0,.12);
    margin-top: 2%;
    height: 80%;
  }

.jumbotron3 {
  color: $negrogris;
  background-color: $indigobg;
  box-shadow: 0 1px 5px 1px rgba(0,0,0,.2), 0 0px 0px 0 rgba(0,0,0,.14), 0 0px 0px 0 rgba(0,0,0,.12);
  width: 80%;
  margin-top: 2%;
}

.pdiseño {
    font-size: 18px;
    color: $disenobg;
    justify-content: center;
}

