<main class="container-fluid">
    <div class="jumbotron">
        <h1 class="display-4 text-center">Newsletter</h1>
    </div>
    <article *ngFor="let noticia of noticias" class="noticia"
        [ngClass]="{'importante': noticia.importante, 'secundaria': !noticia.importante}">
            <h2 class="titulo text-center">{{ noticia.titulo }}</h2>
            <h5 class="resumen text-center">{{ noticia.resumen }}</h5>
            <hr class="my-4">
            <p class="cuerpo">
                {{ noticia.cuerpo }}
            </p>
    </article>
</main>