@import "src/app/styles/colores";
.principal {
    align-items: center;
}

.titular {
    color: rgb(44, 60, 153);
    margin-top: 2%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.noticia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &.importante {
        .titulo {
            color: rgb(170, 11, 11);
        }
    }
}

.jumbotron3 {
  color: $negrogris;
  background-color: #e9ecef;
  box-shadow: 0 1px 5px 1px rgba(0,0,0,.2), 0 0px 0px 0 rgba(0,0,0,.14), 0 0px 0px 0 rgba(0,0,0,.12);
  width: 80%;
  margin-top: 2%;
}

.pdiseño {
    font-size: 18px;
    color: #545555;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: center;
}