@import "src/app/styles/colores";
.gestion-noticias {
  height: 80vh;
  .titulo {
    display: flex;
    justify-content: center;
    color: $indigo500;
  }
  .agregarNoticia {
    display: flex;
    justify-content: flex-end;
    margin: calc(1% + 20px) 0;
  }
  
  .tabla-container {
    width: 100%;
    overflow: auto;
  }
  
  table {
    min-width: 1500px;
    width: 100%;
    background-color: $indigo50;
  }
  
}

@mixin mat-table-columns($columns)
{
    .mat-column-
    {
        @each $colName, $props in $columns {

            $width: map-get($props, 'width');

            &#{$colName} 
            {
                flex: $width;
                min-width: $width;

                @if map-has-key($props, 'color') 
                {
                    color: map-get($props, 'color');
                }
            }  
        }
    }
}
@include mat-table-columns((

    id_novedad: (width: 6rem),
    importante: (width: 9rem),
    titulo: (width: 20rem),
    cuerpo: (width: 60rem),
    resumen: (width: 30rem),
    modificar: (width: 10rem),
    eliminar: (width: 10rem),

));