.gestion-noticia {
  
  height: 80vh;
    
  .titulo {
    display: flex;
    justify-content: center;
    color: #3950a2;
  }
  
  .agregarAlumno {
    display: flex;
    justify-content: flex-end;
    margin: 1% calc(5% - 20px);
  }
  
  .tabla-container {
    width: 100%;
    overflow: auto;
  }
  
  table {
    min-width: 1500px;
    width: 100%;
  }
  
}

@mixin mat-table-columns($columns)
{
    .mat-column-
    {
        @each $colName, $props in $columns {

            $width: map-get($props, 'width');

            &#{$colName} 
            {
                flex: $width;
                min-width: $width;

                @if map-has-key($props, 'color') 
                {
                    color: map-get($props, 'color');
                }
            }  
        }
    }
}
@include mat-table-columns((

    id_novedad: (width: 6rem),
    importante: (width: 9rem),
    titulo: (width: 20rem),
    cuerpo: (width: 60rem),
    resumen: (width: 30rem),
    modificar: (width: 10rem),
    eliminar: (width: 10rem),

));