@import "src/app/styles/colores";

.container-fluid {
  padding: 0 10%;
}

.view, .carousel, .carousel-inner{
  max-height: 60vh;
}
.container-carousel {
    margin-top: 2%;
  .fotos-escuela {
    overflow: hidden;
  }
}

.container-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2%;
  margin-bottom: 2%;
}

.example-card {
  display: flex;
  flex-direction: column;
  max-width: 30%;
  background-color: $indigobg;
  box-shadow: 0 1px 5px 1px rgba(0,0,0,.2), 0 0px 0px 0 rgba(0,0,0,.14), 0 0px 0px 0 rgba(0,0,0,.12);
}

.example-header-image {
  background-size: cover;
}

.mat-card-header {
  height:15%;
}


.mat-card-image {
  margin-top: 16px;
}

.noticia {
  color: $negrogris;
}

@media screen and (max-width: 1000px) {
  .container-grid {
    flex-direction: column;
    align-items: center;
  }
  .example-card {
    max-width: 100%;
    margin-top: 5%;
    margin-bottom: 2%;
  }
  
}

.jumbotron {
  color: $indigo50;
  &.quienes-somos {
    background-color: $indigo500;
  }
  &.novedades {
    background-color: $negrogris;
  }
  box-shadow: 0 1px 5px 1px rgba(0,0,0,.2), 0 0px 0px 0 rgba(0,0,0,.14), 0 0px 0px 0 rgba(0,0,0,.12);
}

@media screen and (max-width: 1442px) {
  .maqueta {
    flex-direction: column;    
    justify-content: center;
  }
  .row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.card {
  width: 100%;
}

.tamaño {
  width: 90%;
  height: 90px;
}
