@import "src/app/styles/colores";

.container-fluid {
  padding: 0 10%;
}

.container-carousel {
  margin-top: 2%;
  display: flex;
  justify-content: center;
  box-shadow: 0 1px 5px 1px rgba(0,0,0,.2), 0 0px 0px 0 rgba(0,0,0,.14), 0 0px 0px 0 rgba(0,0,0,.12);
  .fotos-escuela {
    max-width: 99vw;
    max-height: 70vh;
    overflow: hidden;
    // .foto {
    //   display: block;
    //   margin-left: auto;
    //   margin-right: auto;
    //   width: 50%;
    // }
  }
}

.container-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 2%;
  margin-bottom: 2%;
}

.example-card {
  display: flex;
  flex-direction: column;
  max-width: 30%;
  background-color: #e9ecef;
  box-shadow: 0 1px 5px 1px rgba(0,0,0,.2), 0 0px 0px 0 rgba(0,0,0,.14), 0 0px 0px 0 rgba(0,0,0,.12);
}

.example-header-image {
  background-size: cover;
}

.mat-card-header {
  height:15%;
}


.mat-card-image {
  margin-top: 16px;
}

// @media screen and (max-width: 576px) {
//   // .container-grid {
//   //   flex-direction: column;
//   // }
//   // .example-card {
//   //   max-width: initial;
//   // }
// }

@media screen and (max-width: 1000px) {
  .container-grid {
    flex-direction: column;
    align-items: center;
  }
  .example-card {
    max-width: 90%;
    margin-top: 5%;
    margin-bottom: 2%;
  }
  
}

.jumbotron {
  color: #E8EAF6;
  background-color: $indigo500;
  box-shadow: 0 1px 5px 1px rgba(0,0,0,.2), 0 0px 0px 0 rgba(0,0,0,.14), 0 0px 0px 0 rgba(0,0,0,.12);
}

@media screen and (max-width: 1442px) {
  .maqueta {
    flex-direction: column;    
    justify-content: center;
  }
  .row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.card {
  width: 350px;
}

.tamaño {
  width: 90%;
  height: 90px;
}

.row {
  justify-content: center;
  margin-bottom: 10px;
}

// @media screen and (max-width: 1000px) {
//   // .container-grid {
//   //   flex-direction: column;
//   // }
//   // .example-card {
//   //   max-width: initial;
//   // }
//   .example-card {
//     max-width: 30%;
//   }

// .mat-card-header {
//   height:22%;
//   }
// }