<main class="container-fluid">
  <div class="container-carousel">
      <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
        <mdb-carousel-item *ngFor="let image of images">
          <img class="d-block w-100" [src]="image.path" alt="First slide">
        </mdb-carousel-item>
      </mdb-carousel>
  </div>

  <div class="container-grid">
    <mat-card class="example-card">
      <mat-card-header>
        <img mat-card-avatar class="foto" src="/assets/img/ds.png" alt="DS">
        <mat-card-title>Desarrollo de Software</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="/assets/img/ds.png" alt="DS">
      <mat-card-content>
        <p class="typog">
          Participará en proyectos de desarrollo desempeñando los roles que tienen por objeto producir, modoficar y
          testear
          artefactos de
          software...
        </p>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-raised-button color="primary" routerLink="carreras/ds">Saber más</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="example-card">
      <mat-card-header>
        <img mat-card-avatar class="foto" src="/assets/img/af.png" alt="AF">
        <mat-card-title>Analísta Funcional</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="/assets/img/af.png" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p class="typog">
          Especializado en crear y/o interpretar los negocios de una organización, analizar sus procesos y averiguar las
          necesidades de la información...
        </p>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-raised-button color="primary" routerLink="carreras/af">Saber más</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="example-card">
      <mat-card-header>
        <img mat-card-avatar class="foto" src="/assets/img/it.png" alt="IT">
        <mat-card-title>Infraestructura Tecnológica</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="/assets/img/it.png" alt="IT">
      <mat-card-content>
        <p class="typog"> Capacitado para implementar, mantener, actualizar, analizar y resolver problemas derivados de
          la operación de productos tecnológicos...
        </p>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-raised-button color="primary" routerLink="carreras/it">Saber más</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="jumbotron quienes-somos">
    <h1 class="display-4 text-center" >Terciario Carlos S. Méndez</h1>
    <p class="lead text-center text-black" >Quienes somos</p>
    <hr class="my-4">
    <p class="typog">
      Somos un instituto de nivel terciario creado el 1 de mayo de 1999 por Disposición del presidente de turno, para la
      ciudad de Rosario. Esto fue posible por un acuerdo celebrado entre el Organismo Educativo de Orden Nacional y el
      Sindicato de Peones de Taxis; acuerdo rubricado el 19 de diciembre de 1999 mediante el Protocolo Nº 69.
      Comenzamos a funcionar con la apertura de Primer Año en mayo de 1999. El terciario Carlos S. Mendez había sido
      creado para cursar la carrera de Técnico Superior en Analista de Sistemas de Computación.
      En 2001 pasamos a la jurisdicción del Ministerio de Educación de la Provincia de Santa Fe, mediante Disposición Nº
      170/30 y bajo la misma denominación.
      En el año 2018 por Resolución Nº1984 del Ministerio de Educación de la Provincia de Santa Fe nuestro instituto
      actualizó las carreras a la denominación y alcance actual.</p>
  </div>

  <div class="jumbotron novedades">
    <h1 class="display-4 text-center">Terciario Carlos S. Méndez</h1>
    <p class="lead text-center text-black">Novedades relevantes para la comunidad educativa</p>
    <hr class="my-3">
    <div class="row">
      <div *ngFor="let noticia of titulares" class="col noticia">
        <div class="card border-transparent mb-3">
          <div class="card-header border-transparent">{{ noticia.titulo }}</div>
          <div class="card-body">
            <h5 class="card-title">{{ noticia.resumen }}</h5>
            <p class="card-text">{{ noticia.cuerpo }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>