<main class="container-fluid">
  <div class="container-carousel">
    <ngb-carousel *ngIf="images" [showNavigationArrows]="showNavigationArrows"
      [showNavigationIndicators]="showNavigationIndicators">
      <ng-template ngbSlide *ngFor="let image of images">
        <div class="fotos-escuela">
          <img class="foto" [src]="image.path" alt="Foto escuela">
        </div>
        <div class="carousel-caption">
          <h3>{{image.titulo}}</h3>
          <p>{{image.desc}}</p>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>

  <div class="container-grid">
    <mat-card class="example-card">
      <mat-card-header>
        <img mat-card-avatar class="foto" src="/assets/img/ds.png" alt="DS">
        <mat-card-title>Desarrollo de Software.</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="/assets/img/ds.png" alt="DS">
      <mat-card-content>
        <p>
          Participará en proyectos de desarrollo desempeñando los roles que tienen por objeto producir, modoficar y
          testear
          artefactos de
          software...
        </p>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-raised-button color="primary" routerLink="carreras/ds">Saber más</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="example-card">
      <mat-card-header>
        <img mat-card-avatar class="foto" src="/assets/img/af.png" alt="AF">
        <mat-card-title>Analísta Funcional.</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="/assets/img/af.png" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Especializado en crear y/o interpretar los negocios de una organización, analizar sus procesos y averiguar las
          necesidades de la información...
        </p>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-raised-button color="primary" routerLink="carreras/af">Saber más</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="example-card">
      <mat-card-header>
        <img mat-card-avatar class="foto" src="/assets/img/it.png" alt="IT">
        <mat-card-title>Infraestructura Tecnológica.</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="/assets/img/it.png" alt="IT">
      <mat-card-content>
        <p> Capacitado para implementar, mantener, actualizar, analizar y resolver problemas derivados de
          la operación de productos tecnológicos...
        </p>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-raised-button color="primary" routerLink="carreras/it">Saber más</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="jumbotron">
    <h1 class="display-4" align="center">Terciario Carlos S. Méndez</h1>
    <p class="lead" align="center">Quienes somos.</p>
    <hr class="my-4">
    <p>
      Somos un instituto de nivel terciario creado el 1 de mayo de 1999 por Disposición del presidente de turno, para la
      ciudad de Rosario. Esto fue posible por un acuerdo celebrado entre el Organismo Educativo de Orden Nacional y el
      Sindicato de Peones de Taxis; acuerdo rubricado el 19 de diciembre de 1999 mediante el Protocolo Nº 69.
      Comenzamos a funcionar con la apertura de Primer Año en mayo de 1999. El terciario Carlos S. Mendez había sido
      creado para cursar la carrera de Técnico Superior en Analista de Sistemas de Computación.
      En 2001 pasamos a la jurisdicción del Ministerio de Educación de la Provincia de Santa Fe, mediante Disposición Nº
      170/30 y bajo la misma denominación.
      En el año 2018 por Resolución Nº1984 del Ministerio de Educación de la Provincia de Santa Fe nuestro instituto
      actualizó las carreras a la denominación y alcance actual.</p>
  </div>

  <div class="jumbotron bg-dark text-center">
    <h1 class="display-4 text-white" align="center">Newsletter</h1>
    <p class="lead text-white" align="center">Novedades relevantes para la comunidad educativa</p>
    <hr class="my-4">
    <div class="row">
      
      <div *ngFor="let noticia of titulares" class="col noticia">
        <div class="card border-dark text-center mb-1">
          <div class="card-body">
            <h4 class="card-title">{{ noticia.titulo }}</h4>
            <p class="card-text">{{ noticia.resumen }}</p>
            <p class="card-text">{{ noticia.cuerpo }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>