@import "src/app/styles/colores";

.container-fluid {
  padding: 0 10%;
}

.container-carousel {
  margin-top: 2%;
  display: flex;
  justify-content: center;
  .fotos-escuela {
    max-width: 70vw;
    max-height: 70vh;
    overflow: hidden;
    .foto {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }
  }
}

.container-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 2%;
}

.example-card {
  max-width: 22%;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}
