<main class="container-fluid">
    <div class="jumbotron">
        <h1 class="display-4" align="center">Infraestructura de Tecnología de la Información</h1>
    </div>

    <mat-tab-group>
        <mat-tab label="Sus funciones">
            <br />
            <p>El Técnico Superior en Infraestructura de Tecnología de la Información estará capacitado para
                implementar,
                mantener, actualizar, analizar inconvenientes y resolver problemas derivados de la operación de
                productos de
                tecnología de la información que cumplen funciones de sistema operativo, administración de
                almacenamiento,
                comunicaciones y redes, seguridad, bases de datos, y otros subsistemas, para garantizar la máxima
                disponibilidad del ambiente operativo de las aplicaciones informáticas de las organizaciones
                desarrollando
                las funciones descriptas en el perfil profesional y cumpliendo con los criterios de realización
                establecidos
                para las mismas, para lo cual coordinará o complementará su trabajo con especialistas de la misma
                organización o externos.
            </p>
            <strong>Las funciones del Técnico Superior en Infraestructura de Tecnología de la Información son:</strong>
            <ul>
                <li>Administrar servidores, software de base, comunicaciones y demás subsistemas, maximizando el
                    aprovechamiento
                    de los recursos y anticipando posibles problemas
                </li>
                <li>Administrar redes de comunicación de datos, cableadas o no, asegurando la accesibilidad de los
                    servicios y
                    optimizando los recursos</li>
                <li> Atender incidentes que afecten al Soporte de Infraestructura de TI, diagnosticar las causas que los
                    originan
                    y resolverlos o coordinar su solución</li>
                <li>Instalar o reemplazar componentes de Soporte de Infraestructura de TI o adaptarla a nuevas
                    condiciones de
                    servicios externos minimizando riesgos para la seguridad y continuidad del servicio</li>
                <li>Migrar o convertir sistemas, aplicaciones o datos tratando de minimizar riesgos para la seguridad y
                    continuidad del servicio</li>
                <li>Entender en temas de contingencias y riesgos que puedan afectar al Soporte de Infraestructura de TI
                </li>
                <li>Verificar la funcionalidad del software para asegurarse que satisface los requisitos planteados
                </li>
                <li>Generar propuestas innovadoras y/o emprendimientos productivos propios del ámbito de la gestión de
                    Soporte
                    de Infraestructura de TI</li>
            </ul>
        </mat-tab>
        <mat-tab label="Primer Año">
            <div class="example-large-box mat-elevation-z4">
                <mat-table [dataSource]="dataMateria1" class="mat-elevation-z8">
                    <!-- Nombre Column -->
                    <ng-container matColumnDef="nombre">
                        <mat-header-cell *matHeaderCellDef> Unidad Curricular </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.nombre}} </mat-cell>
                    </ng-container>

                    <!-- Regimen Column -->
                    <ng-container matColumnDef="regimen">
                        <mat-header-cell *matHeaderCellDef> Régimen </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.regimen}} </mat-cell>
                    </ng-container>

                    <!-- Horas Column -->
                    <ng-container matColumnDef="hs">
                        <mat-header-cell *matHeaderCellDef> HS </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.hs}} </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
            </div>
        </mat-tab>
        <mat-tab label="Segundo Año">
            <div class="example-large-box mat-elevation-z4">
                <div class="example-large-box mat-elevation-z4">
                    <mat-table [dataSource]="dataMateria2" class="mat-elevation-z8">
                        <!-- Nombre Column -->
                        <ng-container matColumnDef="nombre">
                            <mat-header-cell *matHeaderCellDef> Unidad Curricular </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.nombre}} </mat-cell>
                        </ng-container>

                        <!-- Regimen Column -->
                        <ng-container matColumnDef="regimen">
                            <mat-header-cell *matHeaderCellDef> Régimen </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.regimen}} </mat-cell>
                        </ng-container>

                        <!-- Horas Column -->
                        <ng-container matColumnDef="hs">
                            <mat-header-cell *matHeaderCellDef> HS </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.hs}} </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Tercer Año">
            <div class="example-large-box mat-elevation-z4">
                <div class="example-large-box mat-elevation-z4">
                    <mat-table [dataSource]="dataMateria3" class="mat-elevation-z8">
                        <!-- Nombre Column -->
                        <ng-container matColumnDef="nombre">
                            <mat-header-cell *matHeaderCellDef> Unidad Curricular </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.nombre}} </mat-cell>
                        </ng-container>

                        <!-- Regimen Column -->
                        <ng-container matColumnDef="regimen">
                            <mat-header-cell *matHeaderCellDef> Régimen </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.regimen}} </mat-cell>
                        </ng-container>

                        <!-- Horas Column -->
                        <ng-container matColumnDef="hs">
                            <mat-header-cell *matHeaderCellDef> HS </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.hs}} </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</main>