@import "src/app/styles/colores";

.page-footer {
    background-color: $indigo500;
    color: #E8EAF6;
    box-shadow: 0 1px 5px 1px rgba(0,0,0,.2), 0 0px 0px 0 rgba(0,0,0,.14), 0 0px 0px 0 rgba(0,0,0,.12);
    margin-top: 2%;
}

.footer-copyright {
    background-color: $negrogris;
}


.typog {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
