<!-- Footer -->
<footer class="page-footer font-small pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-sm-4 mt-md-0 mt-3 text-center">
  
          <!-- Content -->
          <h5 class="text-uppercase">Terciario Carlos S. Méndez</h5>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <!-- Grid column -->
        <div class="col-sm-4 mb-md-0 mb-3 text-center">
  
          <!-- Links -->
          <h5 class="text-uppercase">Secretaría academica:</h5>
  
          <ul class="list-unstyled typog">
            <li>
              <a>Lunes a Viernes de 20 a 22 hs</a>
            </li>
            <li>
              <a>Sub - 55º piso - Nivel Terciario</a>
            </li>
            <li>
              <a>Av. Estratosfera 1001 - Via Lactea</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-sm-4 mb-md-0 mb-3 text-center">
  
          <!-- Links -->
          <h5 class="text-uppercase">Contáctos Útiles:</h5>
  
          <ul class="list-unstyled typog">
            <li>
              <a>(0341) 4712530</a>
            </li>
            <li>
              <a>(0341) 4768421</a>
            </li>
            <li>
              <a href="mailto:info@terciariomendez.edu.ar">info@terciariomendez.edu.ar</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© Los pibe - 
      <a href="https://lospibe.com/"> LosPibe.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->