@import "src/app/styles/colores";
.gestion-docentes {  
  height: 80vh;    
  .titulo {
    display: flex;
    justify-content: center;
    color: $indigo500;
  }
  
  .agregarDocente {
    display: flex;
    justify-content: flex-end;
    margin: calc(1% + 20px) 0;
  }
  
  .tabla-container {
    width: 100%;
    overflow: auto;
  }
  
  table {
    min-width: 800px;
    width: 100%;
    background-color: $indigo50;
  }
  
}