<main class="container-fluid">
    <form [formGroup]="noticiaForm" (ngSubmit)="onSubmit()">
        <div class="form-noticia">

            <mat-form-field *ngIf="this.idEdit">
                <input matInput placeholder="ID" formControlName="id_novedad" maxlength="8">
                <mat-error>
                    <span *ngIf="id_novedad?.invalid && (id_novedad?.dirty || id_novedad?.touched)">El id es requerido</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <input matInput #input placeholder="Titulo" formControlName="titulo" maxlength="40">
                <mat-error>
                    <span *ngIf="titulo?.invalid && (titulo?.dirty || titulo?.touched)">El título es requerido y no debe exceder los 40 caracteres</span>
                </mat-error>
            </mat-form-field>
    
            <mat-form-field>
                <mat-select placeholder="Relevancia" formControlName="importante">
                    <mat-option value="I">Importante</mat-option>
                    <mat-option value="NI">No Importante</mat-option>
                </mat-select>
                <mat-error>
                    <span *ngIf="importante?.invalid && (importante?.dirty || importante?.touched)">Elegir la relevancia es requerido</span>
                </mat-error>
            </mat-form-field>
    
            <mat-form-field>
                <input matInput #input placeholder="Resumen de la noticia" formControlName="resumen" maxlength="100">
                <mat-error>
                    <span *ngIf="resumen?.invalid && (resumen?.dirty || resumen?.touched)">El resumen es requerido y no debera exceder los 100 caracteres</span>
                </mat-error>
            </mat-form-field>
    
            <mat-form-field>
                <textarea rows="3" matInput placeholder="Cuerpo de la noticia" formControlName="cuerpo" maxlength="255"></textarea>
                <mat-error>
                    <span *ngIf="cuerpo?.invalid && (cuerpo?.dirty || cuerpo?.touched)">El cuerpo es requerido y no debera exceder los 255 caracteres</span>
                </mat-error>
            </mat-form-field>
            <div class="botones">
                <button mat-raised-button color="primary" type="submit">Guardar</button>
            </div>
        </div>
    </form>
</main>