  <nav class="navbar navbar-expand-lg navbar-dark bg-urquiza">
    <a class="navbar-brand" href="#">Terciario Urquiza</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Carreras
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="ds">Desarrollo de Software</a>
            <a class="dropdown-item" routerLink="af">Analista Funcional</a>
            <a class="dropdown-item" routerLink="it">Soporte de Infraestructuras</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sobre Nosotros</a>
        </li>
        <li class="nav-item" ngbDropdown>
          <a class="nav-link" style="cursor: pointer" ngbDropdownToggle id="navbarDropdown3" role="button">
              Gestionar
          </a>
          <div ngbDropdownMenu aria-labelledby="navbarDropdown3" class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="#" routerLink="menu-alumno">Alumnos</a>
          </div>
      </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <a [routerLink]="'login'"><button mat-raised-button>Ingresar</button></a>
      </form>
    </div>
  </nav>