  <nav class="navbar navbar-expand-lg navbar-dark bg-urquiza">
    <a class="navbar-brand" href="#">Terciario Carlos S. Méndez</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Carreras
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="carreras/ds">Desarrollo de Software</a>
            <a class="dropdown-item" routerLink="carreras/af">Analista Funcional</a>
            <a class="dropdown-item" routerLink="carreras/it">Soporte de Infraestructuras</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sobre Nosotros</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0 botones">
        <a *ngIf="!loginService.isLogueado()" [routerLink]="'login'"><button mat-raised-button>Ingresar</button></a>
        <div *ngIf="loginService.isLogueado()" ngbDropdown>
          <button type="button" ngbDropdownToggle mat-raised-button>Administración</button>
          <div ngbDropdownMenu>
            <button type="button" ngbDropdownItem [routerLink]="'abm-alumnos/menu-alumno'">Gestión de Alumnos</button>
            <button type="button" ngbDropdownItem (click)='loginService.logout()'>Cerrar Sesión</button>
          </div>
        </div>
      </form>
    </div>
  </nav>