@import 'src/app/styles/colores';

.navbar {
    font-weight: 500;
    .login-boton {
        background-color: red;
    }
    a {
        color: $indigo50;
    }
}
.bg-urquiza {
    background: $indigo900;
}
