.gestion-alumnos {
  height: 80vh;
  .titulo {
    display: flex;
    justify-content: center;
  }
  .agregarAlumno {
    display: flex;
    justify-content: flex-end;
    margin: 1% calc(5% - 20px);
  }
  .tabla {
    width: 100%;
  }
}
