.gestion-alumnos {
  
  height: 80vh;
    
  .titulo {
    display: flex;
    justify-content: center;
    color: #3950a2;
  }
  
  .agregarAlumno {
    display: flex;
    justify-content: flex-end;
    margin: 1% calc(5% - 20px);
  }
  
  .tabla-container {
    width: 100%;
    overflow: auto;
  }
  
  table {
    min-width: 800px;
    width: 100%;
  }
  
}
