.gestion-alumnos {
  height: 80vh;
  .titulo {
    display: flex;
    justify-content: center;
    color: #3950a2;
  }
  .agregarAlumno {
    display: flex;
    justify-content: flex-end;
    margin: 1% calc(5% - 20px);
  }
  .tabla {
    width: 100%;
  }
  .jumbotron {
    display: flex;
    flex-direction: column;
    color: #3950a2;
    background-color: #E8EAF6;
    box-shadow: 0 1px 5px 1px rgba(0,0,0,.2), 0 0px 0px 0 rgba(0,0,0,.14), 0 0px 0px 0 rgba(0,0,0,.12);
    margin-top: 2%;
    height: 100%;
  }
}
