<main class="container-fluid">
    <div class="example-container">
        <mat-form-field>
            <input matInput placeholder="Título">
        </mat-form-field>
        
        <mat-form-field>
            <mat-select placeholder="Relevancia">
                <mat-option value="option">Importante</mat-option>                
                <mat-option value="option">No importante</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <textarea matInput placeholder="Cuerpo de la noticia"></textarea>
        </mat-form-field>
    </div>
</main>