<main class="container-fluid cuerpo-noticias">
    <div class="jumbotron">
            <h1 class="display-3" align="center">AGREGAR NOTICIA</h1>
            
            <mat-form-field>
                <input matInput placeholder="Título de la noticia" [(ngModel)]="noticia.titulo">
            </mat-form-field>

            <mat-form-field>
                <mat-select placeholder="Relevancia" [(ngModel)]="importante">
                    <mat-option value="I">Importante</mat-option>
                    <mat-option value="NI">No Importante</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <textarea matInput placeholder="Cuerpo de la noticia" [(ngModel)]="noticia.cuerpo"></textarea>
            </mat-form-field>

            <button mat-raised-button color="primary" type="submit" align="center" (click)="cargarNoticia()">Agregar noticia</button>

    </div>

</main>