/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

@import 'src/app/styles/colores';

html, body {
    font-family: 'Raleway', sans-serif;
    color: $negrogris;
    background: $indigobg;
}

.mat-fab,
.mat-flat-button,
.mat-icon-button,
.mat-mini-fab,
.mat-raised-button,
.mat-stroked-button,
.mat-tab-group,
.mat-tab-label,
.mat-table  {
    font-family: 'Raleway', sans-serif;
    color: $negrogris;
}
.dropdown-menu {
    background-color: $indigobg; 
}


