<header id="headerCareer">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-lg-12">
          <h1 class="display-4 text-white mt-5 mb-2">Técnico Superior en Desarrollo de Software</h1>
          <p class="lead mb-5 text-white-50">En esta carrera de tres años vas a aprender los fundamentos básicos del desarrollo de software, 
              los procesos mas modernos para elaborarlo y los principios fundamentales, para luego, avanzar sobre tópicos mas complejos y modernas tecnologias. Estudia y perfeccionate en la carrera del futuro.</p>
        </div>
      </div>
    </div>
  </header>
